<form style="margin-top: 100px!important;" [formGroup]="terrainForm" (ngSubmit)="updateTerrain()">

  <div class="from-group">

    <label for="reference" class="form-label" >Reference</label>
    <input type="text" class="form-control" id="reference"  formControlName="reference" >
  </div>
  <div class="from-group">

    <label for="etat" class="form-label" >Etat</label>
    <input type="text" class="form-control" id="etat" formControlName="etat" >

  </div>

  <button class="btn btn-success" >Mise à Jour</button>

</form>

