.nav-link:hover{
  background:green;
  color:white!important;
}
.nav-link{
  color:black!important;
}
.navbar-brand{
  margin-right: 100px!important;
}
.navbar-brand:hover{
  color:green;
}

.tales {
  width: 100%;
  height: 600px;

}
.carousel-inner{
  width:100%;
  max-height: 800px !important;
}
.disponible{
  background: #1be71b;
}
.indisponible{
  background: #ff0a00
}
td{
  text-align:center!important;
  width:200px!important;
  border: #ffffff 1px solid!important;
  font-size:10px;
  font-family: 'Fugaz One', cursive;
  text-transform: uppercase!important;
  background:black;
  color:white;

}
.ft{
  font-family: 'Fugaz One', cursive;
  text-align: center;
  text-transform: uppercase!important;
  background: #404040;
  color:white;
}
h1{
  font-family: 'Fugaz One', cursive;
  color: #1778e7;
  text-align: center;
  text-transform: uppercase!important;
}
hr {
  width: 30%;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  color:black;
  background-color: #000000;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.btn{
  padding:15px;
  margin-top:40px;
  margin-left:50px;
  height: 50px;
  font-family: 'Fugaz One', cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #404040 !important;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 6px 17px 0px rgb(0 0 0 / 15%);
  -o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 6px 17px 0px rgb(0 0 0 / 15%);
  width: 400px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
.btn:hover{
  background-color: #9d9da0;
  transition-delay: 0.1s;
}
