<button  type="button" routerLink="terrain-form" class="btn btn-outline-primary"><i class="fa fa-flag fa-lg"></i> Ajouter Un Terrain !</button>

<div class="row">
  <table class="table caption-top">
    <caption>Liste Des Terrains</caption>
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Reference</th>
      <th scope="col">Etat</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let terrain of terrains">
      <td>{{terrain.id}}</td>
      <td>{{terrain.reference}}</td>
      <td>{{terrain.etat}}</td>

      <td><button  class="btn btn-warning" routerLink="terrain-edit/{{terrain.id}}" role="button"><i class="fa fa-pencil"></i></button><button class="btn btn-danger" (click)="deleteTerrain(terrain.id)" role="button"><i class="fa fa-trash"></i></button></td>
    </tr>

    </tbody>
  </table>
</div>


