<form [formGroup]="cin" (ngSubmit)="getByCin()">
<div  style="margin-top: 100px!important;width:300px" class="input-group mb-3">
  <input type="text" class="form-control" formControlName="val" id="val" name="val" placeholder="Cherchez Par Cin" >
  <button class="btn btn-primary" [disabled]="cin.invalid"  type="submit">Chercher</button>
  <small *ngIf="cin.get('val')?.invalid && cin.get('val')?.touched" class="text-danger">Veuillez Spécifier Un Num De Cin Correct (ex:JY12345)</small>
</div></form>
<div class="row " *ngIf="errorMsg">
  <h5 class="text-danger">{{this.errorMsg}}</h5>
</div>
<div class="row" *ngIf="!errorMsg">

  <table class="table caption-top">
    <caption>Liste Des Clients</caption>

    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Cin</th>
      <th scope="col">NumApogée</th>
      <th scope="col">Etablissement</th>
      <th scope="col">Numéro de téléphone</th>
      <th scope="col">Sexe</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let client of clients  "

    >

      <td>{{client.id}}</td>
      <td>{{client.nom}}</td>
      <td> {{client.prenom}}</td>
      <td> {{client.cin}}</td>
      <td>{{client.numapogee}}</td>
      <td> {{client.etablissement}} </td>
      <td>{{client.numtel}}</td>
      <td>{{client.sexe}}</td>
      <td><button  class="btn btn-warning me-2"  role="button" routerLink="client-edit/{{client.id}}"><i class="fa fa-pencil"></i></button><button (click)="deleteClient(client.id)" class="btn btn-danger"  role="button"><i class="fa fa-trash"></i></button></td>
    </tr>

    </tbody>
  </table>
</div>
