<div class="row">
  <table class="table caption-top">
    <caption>Liste Des Reservations</caption>
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Client ID</th>
      <th scope="col">Nom du Client</th>
      <th scope="col">Cin</th>
      <th scope="col">Etablissement</th>
      <th scope="col">Reference</th>
      <th scope="col">Date de reservation</th>
      <th scope="col">Terrain</th>
      <th scope="col">Statut</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{reservation.id}}</td>
      <td>{{reservation.client.id}}</td>
      <td>{{reservation.client.nom}}</td>
      <td>{{reservation.client.cin}}</td>
      <td>{{reservation.client.etablissement}}</td>
      <td>{{reservation.reference}}</td>
      <td>{{reservation.date}}</td>
      <td>{{reservation.terrain.id}}</td>
      <td>{{reservation.status}}</td>
      <td><button  class="btn btn-warning me-2"  role="button" routerLink="reservation-edit/{{reservation.id}}"><i class="fa fa-pencil"></i></button><button  class="btn btn-success me-2" (click)="confirmReservation(reservation)" role="button"><i class="fa fa-check" ></i></button><button (click)="deleteReservation(reservation.id)" class="btn btn-danger "  role="button"><i class="fa fa-trash"></i></button></td>
    </tr>

    </tbody>
  </table>
</div>

